@media (min-width: 1200px) {
  .content {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
  }
  .home {
    padding-top: 80px;
    position: relative;
    height: 1180px;
    background: #000f27;
    .home_title {
      padding: 0 10px;
      font-size: 60px;
      color: #ffffff;
      line-height: 70px;
      text-align: center;
    }
    .home_content {
      padding: 66px 0 100px;
    }
    .home_content_text {
      padding: 40px 40px 34px 36px;
      width: 826px;
      font-size: 36px;
      line-height: 46px;
      font-weight: 500;
      color: #fff;
      background: #001e42;
      border-radius: 20px;
    }
    .home_sketch_map {
      position: absolute;
      bottom: 70px;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;
      height: 608px;
      background: url('../../../assets/image/sketch_map@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding: 80px 0 86px;
    height: 860px;
    background: #000;
    .roadmap_title {
      padding: 0 10px;
      font-size: 60px;
      color: #fff;
      line-height: 70px;
      text-align: center;
    }
    .roadmap_png {
      display: none;
    }
    .roadmap_timeline {
      position: relative;
      margin: 132px auto 46px;
      width: 100%;
      height: 4px;
      background: rgba(7, 106, 226, 0.6);
      border-radius: 2px;
      span {
        position: absolute;
        bottom: -6px;
        left: 200px;
        width: 16px;
        height: 16px;
        background-color: #076ae2;
        border-radius: 50%;
        &:after {
          content: '';
          position: absolute;
          left: -3px;
          top: -3px;
          z-index: 1;
          width: 22px;
          height: 22px;
          border: 6px solid rgba(7, 106, 226, 0.6);
          border-radius: 50%;
        }
        &:nth-child(2) {
          left: 50%;
          transform: translateX(-50%);
        }
        &:last-child {
          left: auto;
          right: 200px;
        }
      }
    }
    .roadmap_card {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .roadmap_card_content {
        padding: 28px;
        width: 360px;
        height: 440px;
        background: rgba(7, 106, 226, 0.2);
        border-radius: 10px;
        h3 {
          font-size: 36px;
          color: #076ae2;
          line-height: 36px;
        }
        .roadmap_card_text {
          margin-top: 16px;
          font-size: 22px;
          line-height: 32px;
          font-weight: 500;
          color: #0050b0;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .i_do {
    padding: 80px 0 186px;
    width: 100%;
    height: 1100px;
    background: url('../../../assets/image/id_bg.png') no-repeat;
    background-color: #000;
    background-size: 100% 100%;
    .i_do_title {
      padding: 0 10px;
      font-size: 60px;
      color: #fff;
      line-height: 70px;
      text-align: center;
    }
    .enter_pool {
      margin-top: 118px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .enter_pool_card {
      padding: 56px 30px 50px;
      width: 540px;
      height: 680px;
      background: rgba(7, 106, 226, 0.2);
      border-radius: 20px;
      vertical-align: top;
      .enter_pool_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .enter_pool_title_left {
        img {
          display: inline-block;
          width: 234px;
          height: 46px;
        }
      }
      .enter_pool_title_right {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        background: #076ae2;
        border-radius: 10px;
      }
      .enter_pool_ratio {
        margin-top: 56px;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        line-height: 20px;
        i {
          margin-top: 30px;
          display: block;
          font-style: normal;
          font-size: 20px;
          color: #fff;
          line-height: 20px;
        }
      }
      .enter_pool_progress {
        margin-top: 38px;
        font-size: 24px;
      }
      .enter_pool_percentage {
        a {
          margin-top: 30px;
          position: relative;
          display: block;
          width: 100%;
          height: 12px;
          background: #bbb;
          border-radius: 6px;
        }
        .enter_pool_progress_bar {
          position: absolute;
          left: 0;
          top: 0;
          height: 12px;
          background: #076ae2;
          border-radius: 6px;
        }
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 28px;
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;
          color: #fff;
        }
      }
      .enter_pool_access {
        margin-top: 66px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        color: #d6d6d6;
      }
      .crown,
      .tips,
      .crown-highlight {
        display: inline-block;
        width: 28px;
        height: 26px;
      }
      .crown {
        margin-right: 18px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .crown-highlight {
        margin-right: 18px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .tips {
        position: relative;
        width: 36px;
        height: 36px;
        margin-left: 12px;
        background: url('../../../assets/image/info@2x.png') no-repeat;
        background-size: 100% 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .tips_content {
        position: absolute;
        bottom: 42px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        margin-top: 0 !important;
        font-style: normal;
        font-size: 14px !important;
        line-height: 28px !important;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        white-space: nowrap;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-top: 7px solid rgba(0, 0, 0, 0.5);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }
      }
      .enter_pool_enter {
        margin-top: 64px;
        display: inline-block;
        width: 100%;
        height: 72px;
        line-height: 72px;
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        background: #076ae2;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      .enter_pool_disable_enter {
        background: #bbbbbb;
        border-radius: 10px;
        &:hover {
          cursor: text;
        }
      }
      .coming_soon_title {
        margin: 0;
        padding: 60px 0 64px;
        font-size: 60px;
        line-height: 60px;
        color: #076ae2;
        text-align: center;
      }
      .coming_soon_ratio {
        margin-top: 26px;
        font-size: 24px;
      }
      .coming_soon_btn {
        margin-top: 158px;
      }
    }
  }
  .backed_by {
    padding: 122px 0 40px;
    background-color: #000;
    .backed_by_title {
      font-size: 60px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 140px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          display: inline-block;
          width: 360px;
          height: 120px;
          border: 2px solid rgba(7, 106, 226, 0.6);
          border-radius: 10px;
          &:hover {
            cursor: pointer;
            border: 2px solid #076ae2;
          }
        }
        p {
          display: inline-block;
          width: 360px;
          height: 120px;
          line-height: 120px;
          font-size: 36px;
          text-align: center;
          color: #d6d6d6;
          border: 2px solid rgba(7, 106, 226, 0.6);
          border-radius: 10px;
          &:hover {
            cursor: pointer;
            border: 2px solid #076ae2;
          }
        }
        &:nth-child(2) {
          margin-top: 64px;
        }
      }
    }
  }
}

@media (min-width: 747px) and (max-width: 1199px) {
  .content {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
  }
  .home {
    padding-top: 80px;
    position: relative;
    min-width: 1200px;
    height: 1180px;
    background: #000f27;
    .home_title {
      padding: 0 10px;
      font-size: 60px;
      color: #ffffff;
      line-height: 70px;
      text-align: center;
    }
    .home_content {
      padding: 66px 0 100px;
    }
    .home_content_text {
      padding: 40px 40px 34px 36px;
      width: 826px;
      font-size: 36px;
      line-height: 46px;
      font-weight: 500;
      color: #fff;
      background: #001e42;
      border-radius: 20px;
    }
    .home_sketch_map {
      position: absolute;
      bottom: 70px;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;
      height: 608px;
      background: url('../../../assets/image/sketch_map@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding: 80px 0 86px;
    min-width: 1200px;
    height: 860px;
    background: #000;
    .roadmap_title {
      padding: 0 10px;
      font-size: 60px;
      color: #fff;
      line-height: 70px;
      text-align: center;
    }
    .roadmap_png {
      display: none;
    }
    .roadmap_timeline {
      position: relative;
      margin: 132px auto 46px;
      width: 100%;
      height: 4px;
      background: rgba(7, 106, 226, 0.6);
      border-radius: 2px;
      span {
        position: absolute;
        bottom: -6px;
        left: 200px;
        width: 16px;
        height: 16px;
        background-color: #076ae2;
        border-radius: 50%;
        &:after {
          content: '';
          position: absolute;
          left: -3px;
          top: -3px;
          z-index: 1;
          width: 22px;
          height: 22px;
          border: 6px solid rgba(7, 106, 226, 0.6);
          border-radius: 50%;
        }
        &:nth-child(2) {
          left: 50%;
          transform: translateX(-50%);
        }
        &:last-child {
          left: auto;
          right: 200px;
        }
      }
    }
    .roadmap_card {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .roadmap_card_content {
        padding: 28px;
        width: 360px;
        height: 440px;
        background: rgba(7, 106, 226, 0.2);
        border-radius: 10px;
        h3 {
          font-size: 36px;
          color: #076ae2;
          line-height: 36px;
        }
        .roadmap_card_text {
          margin-top: 16px;
          font-size: 22px;
          line-height: 32px;
          font-weight: 500;
          color: #0050b0;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .i_do {
    padding: 80px 0 186px;
    width: 100%;
    min-width: 1200px;
    height: 1100px;
    background: url('../../../assets/image/id_bg.png') no-repeat;
    background-color: #000;
    background-size: 100% 100%;
    .i_do_title {
      padding: 0 10px;
      font-size: 60px;
      color: #fff;
      line-height: 70px;
      text-align: center;
    }
    .enter_pool {
      margin-top: 118px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .enter_pool_card {
      padding: 56px 30px 50px;
      width: 540px;
      height: 680px;
      background: rgba(7, 106, 226, 0.2);
      border-radius: 20px;
      vertical-align: top;
      .enter_pool_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .enter_pool_title_left {
        img {
          display: inline-block;
          width: 234px;
          height: 46px;
        }
      }
      .enter_pool_title_right {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        background: #076ae2;
        border-radius: 10px;
      }
      .enter_pool_ratio {
        margin-top: 56px;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        line-height: 20px;
        i {
          margin-top: 30px;
          display: block;
          font-style: normal;
          font-size: 20px;
          color: #fff;
          line-height: 20px;
        }
      }
      .enter_pool_progress {
        margin-top: 38px;
        font-size: 24px;
      }
      .enter_pool_percentage {
        a {
          margin-top: 30px;
          position: relative;
          display: block;
          width: 100%;
          height: 12px;
          background: #bbb;
          border-radius: 6px;
        }
        .enter_pool_progress_bar {
          position: absolute;
          left: 0;
          top: 0;
          height: 12px;
          background: #076ae2;
          border-radius: 6px;
        }
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 28px;
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;
          color: #fff;
        }
      }
      .enter_pool_access {
        margin-top: 66px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        color: #d6d6d6;
      }
      .crown,
      .tips,
      .crown-highlight {
        display: inline-block;
        width: 28px;
        height: 26px;
      }
      .crown {
        margin-right: 18px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .crown-highlight {
        margin-right: 18px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .tips {
        position: relative;
        width: 36px;
        height: 36px;
        margin-left: 12px;
        background: url('../../../assets/image/info@2x.png') no-repeat;
        background-size: 100% 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .tips_content {
        position: absolute;
        bottom: 42px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        margin-top: 0 !important;
        font-style: normal;
        font-size: 14px !important;
        line-height: 28px !important;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        white-space: nowrap;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-top: 7px solid rgba(0, 0, 0, 0.5);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }
      }
      .enter_pool_enter {
        margin-top: 64px;
        display: inline-block;
        width: 100%;
        height: 72px;
        line-height: 72px;
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        background: #076ae2;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      .enter_pool_disable_enter {
        background: #bbbbbb;
        border-radius: 10px;
        &:hover {
          cursor: text;
        }
      }
      .coming_soon_title {
        margin: 0;
        padding: 60px 0 64px;
        font-size: 60px;
        line-height: 60px;
        color: #076ae2;
        text-align: center;
      }
      .coming_soon_ratio {
        margin-top: 26px;
        font-size: 24px;
      }
      .coming_soon_btn {
        margin-top: 158px;
      }
    }
  }
  .backed_by {
    padding: 122px 0 40px;
    min-width: 1200px;
    background-color: #000;
    .backed_by_title {
      font-size: 60px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 140px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          display: inline-block;
          width: 360px;
          height: 120px;
          border: 2px solid rgba(7, 106, 226, 0.6);
          border-radius: 10px;
          &:hover {
            cursor: pointer;
            border: 2px solid #076ae2;
          }
        }
        p {
          display: inline-block;
          width: 360px;
          height: 120px;
          line-height: 120px;
          font-size: 36px;
          text-align: center;
          color: #d6d6d6;
          border: 2px solid rgba(7, 106, 226, 0.6);
          border-radius: 10px;
          &:hover {
            cursor: pointer;
            border: 2px solid #076ae2;
          }
        }
        &:nth-child(2) {
          margin-top: 64px;
        }
      }
    }
  }
}

@media (min-width: 359px) and (max-width: 747px) {
  .content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .home {
    padding: 310px 15px 64px;
    position: relative;
    background: #000a19;
    .home_title {
      padding: 0 35px;
      font-size: 24px;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
    }
    .home_content {
      // padding: 124px 244px;
    }
    .home_content_text {
      margin: 35px auto 40px;
      padding: 20px 20px 18px 15px;
      width: 344px;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      background: #001e42;
      border-radius: 10px;
    }
    .home_sketch_map {
      display: block;
      margin: 0 auto;
      width: 328px;
      height: 480px;
      background: url('../../../assets/image/sketch_map_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding: 45px 15px 70px;
    background: #000;
    .roadmap_title {
      padding: 0 15px;
      font-size: 24px;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
    }
    .roadmap_png {
      display: block;
      margin: 16px auto 0;
      width: 345px;
      height: 549px;
      background: url('../../../assets/image/roadmap_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
    .roadmap_timeline {
      display: none;
    }
    .roadmap_card {
      display: none;
    }
  }
  .i_do {
    padding: 35px 0 68px;
    width: 100%;
    background: url('../../../assets/image/id_bg_H5@2x.png') no-repeat;
    background-color: #000;
    background-size: 100% 100%;
    .i_do_title {
      padding: 0 15px;
      font-size: 30px;
      color: #ffffff;
      line-height: 36px;
      text-align: center;
    }
    .enter_pool {
      margin-top: 38px;
    }
    .enter_pool_card {
      margin: 0 auto;
      padding: 27px 18px 36px;
      width: 345px;
      height: 375px;
      background: rgba(7, 106, 226, 0.2);
      border-radius: 10px;
      vertical-align: top;
      &:nth-child(2) {
        margin-top: 40px;
      }
      .enter_pool_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .enter_pool_title_left {
        img {
          display: inline-block;
          width: 170px;
          height: 33px;
        }
      }
      .enter_pool_title_right {
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        background: #076ae2;
        border-radius: 5px;
      }
      .enter_pool_ratio {
        margin-top: 35px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        line-height: 12px;
        i {
          margin-top: 14px;
          display: block;
          font-style: normal;
          font-size: 12px;
          color: #fff;
          line-height: 12px;
        }
      }
      .enter_pool_progress {
        margin-top: 33px;
        font-size: 14px;
      }
      .enter_pool_percentage {
        a {
          margin-top: 12px;
          position: relative;
          display: block;
          width: 100%;
          height: 6px;
          background: #bbb;
          border-radius: 3px;
        }
        .enter_pool_progress_bar {
          position: absolute;
          left: 0;
          top: 0;
          height: 6px;
          background: #076ae2;
          border-radius: 3px;
        }
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 14px;
          font-size: 12px;
          line-height: 12px;
          font-weight: 500;
          color: #ffffff;
        }
      }
      .enter_pool_access {
        margin-top: 25px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: #d6d6d6;
      }
      .crown,
      .tips,
      .crown-highlight {
        display: inline-block;
        width: 14px;
        height: 14px;
      }
      .crown {
        margin-right: 7px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .crown-highlight {
        margin-right: 7px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .tips {
        position: relative;
        width: 18px;
        height: 18px;
        margin-left: 6px;
        background: url('../../../assets/image/info@2x.png') no-repeat;
        background-size: 100% 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .tips_content {
        position: absolute;
        bottom: 26px;
        right: 0;
        padding: 5px 10px;
        margin-top: 0 !important;
        font-style: normal;
        font-size: 12px !important;
        line-height: 14px !important;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        white-space: nowrap;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: -5px;
          right: 2px;
          width: 0;
          height: 0;
          border-top: 7px solid rgba(0, 0, 0, 0.5);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }
      }
      .enter_pool_enter {
        margin-top: 25px;
        display: inline-block;
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        background: #076ae2;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }
      .enter_pool_disable_enter {
        background: #bbbbbb;
        border-radius: 5px;
        &:hover {
          cursor: text;
        }
      }
      .coming_soon_title {
        margin: 0;
        padding: 35px 0 32px;
        font-size: 36px;
        color: #ffffff;
        text-align: center;
      }
      .coming_soon_ratio {
        margin-top: 25px;
        font-size: 14px;
      }
      .coming_soon_btn {
        margin-top: 60px;
      }
    }
  }
  .backed_by {
    padding: 37px 15px 24px;
    background-color: #000;
    .backed_by_title {
      font-size: 24px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 20px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        img {
          display: block;
          margin: 0 auto;
          width: 230px;
          height: 70px;
          border: 1px solid rgba(7, 106, 226, 0.6);
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            border: 1px solid #076ae2;
          }
        }
        p {
          margin: 27px auto 0;
          width: 230px;
          height: 70px;
          line-height: 70px;
          font-size: 18px;
          text-align: center;
          color: #d6d6d6;
          border: 1px solid rgba(7, 106, 226, 0.6);
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            border: 1px solid #076ae2;
          }
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .home {
    padding: 310px 15px 64px;
    position: relative;
    background: #000a19;
    .home_title {
      padding: 0 35px;
      font-size: 24px;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
    }
    .home_content {
      // padding: 124px 244px;
    }
    .home_content_text {
      margin: 35px auto 40px;
      padding: 20px 20px 18px 15px;
      width: 344px;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      background: #001e42;
      border-radius: 10px;
    }
    .home_sketch_map {
      display: block;
      margin: 0 auto;
      width: 328px;
      height: 480px;
      background: url('../../../assets/image/sketch_map_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding: 45px 15px 70px;
    background: #000;
    .roadmap_title {
      padding: 0 15px;
      font-size: 24px;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
    }
    .roadmap_png {
      display: block;
      margin: 16px auto 0;
      width: 345px;
      height: 549px;
      background: url('../../../assets/image/roadmap_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
    .roadmap_timeline {
      display: none;
    }
    .roadmap_card {
      display: none;
    }
  }
  .i_do {
    padding: 35px 0 68px;
    width: 100%;
    background: url('../../../assets/image/id_bg_H5@2x.png') no-repeat;
    background-color: #000;
    background-size: 100% 100%;
    .i_do_title {
      padding: 0 15px;
      font-size: 30px;
      color: #ffffff;
      line-height: 36px;
      text-align: center;
    }
    .enter_pool {
      margin-top: 38px;
    }
    .enter_pool_card {
      margin: 0 auto;
      padding: 27px 18px 36px;
      width: 345px;
      height: 375px;
      background: rgba(7, 106, 226, 0.2);
      border-radius: 10px;
      vertical-align: top;
      &:nth-child(2) {
        margin-top: 40px;
      }
      .enter_pool_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .enter_pool_title_left {
        img {
          display: inline-block;
          width: 170px;
          height: 33px;
        }
      }
      .enter_pool_title_right {
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        background: #076ae2;
        border-radius: 5px;
      }
      .enter_pool_ratio {
        margin-top: 35px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        line-height: 12px;
        i {
          margin-top: 14px;
          display: block;
          font-style: normal;
          font-size: 12px;
          color: #fff;
          line-height: 12px;
        }
      }
      .enter_pool_progress {
        margin-top: 33px;
        font-size: 14px;
      }
      .enter_pool_percentage {
        a {
          margin-top: 12px;
          position: relative;
          display: block;
          width: 100%;
          height: 6px;
          background: #bbb;
          border-radius: 3px;
        }
        .enter_pool_progress_bar {
          position: absolute;
          left: 0;
          top: 0;
          height: 6px;
          background: #076ae2;
          border-radius: 3px;
        }
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 14px;
          font-size: 12px;
          line-height: 12px;
          font-weight: 500;
          color: #ffffff;
        }
      }
      .enter_pool_access {
        margin-top: 25px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: #d6d6d6;
      }
      .crown,
      .tips,
      .crown-highlight {
        display: inline-block;
        width: 14px;
        height: 14px;
      }
      .crown {
        margin-right: 7px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .crown-highlight {
        margin-right: 7px;
        background: url('../../../assets/image/zuanshi@2x.png') no-repeat;
        background-size: 100% 100%;
      }
      .tips {
        position: relative;
        width: 18px;
        height: 18px;
        margin-left: 6px;
        background: url('../../../assets/image/info@2x.png') no-repeat;
        background-size: 100% 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .tips_content {
        position: absolute;
        bottom: 26px;
        right: 0;
        padding: 5px 10px;
        margin-top: 0 !important;
        font-style: normal;
        font-size: 12px !important;
        line-height: 14px !important;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        white-space: nowrap;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: -5px;
          right: 2px;
          width: 0;
          height: 0;
          border-top: 7px solid rgba(0, 0, 0, 0.5);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }
      }
      .enter_pool_enter {
        margin-top: 25px;
        display: inline-block;
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        background: #076ae2;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }
      .enter_pool_disable_enter {
        background: #bbbbbb;
        border-radius: 5px;
        &:hover {
          cursor: text;
        }
      }
      .coming_soon_title {
        margin: 0;
        padding: 35px 0 32px;
        font-size: 36px;
        color: #ffffff;
        text-align: center;
      }
      .coming_soon_ratio {
        margin-top: 25px;
        font-size: 14px;
      }
      .coming_soon_btn {
        margin-top: 60px;
      }
    }
  }
  .backed_by {
    padding: 37px 15px 24px;
    background-color: #000;
    .backed_by_title {
      font-size: 24px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 20px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        img {
          display: block;
          margin: 0 auto;
          width: 230px;
          height: 70px;
          border: 1px solid rgba(7, 106, 226, 0.6);
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            border: 1px solid #076ae2;
          }
        }
        p {
          margin: 27px auto 0;
          width: 230px;
          height: 70px;
          line-height: 70px;
          font-size: 18px;
          text-align: center;
          color: #d6d6d6;
          border: 1px solid rgba(7, 106, 226, 0.6);
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            border: 1px solid #076ae2;
          }
        }
      }
    }
  }
}
