@media (min-width: 1200px) {
  .content {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
  }
  .home_box {
    background: url('../../../assets/image/home_bg@2x.png') no-repeat;
    background-size: 1646px 1428px;
    background-color: #ececec;
    background-position: center 298px;
  }
  .home {
    padding-top: 80px;
    position: relative;
    height: 1180px;
    .home_title {
      padding: 0 10px;
      font-size: 60px;
      color: #1e1e1e;
      line-height: 70px;
      text-align: center;
    }
    .home_content {
      padding: 136px 0 100px;
      height: 100%;
    }
    .home_content_text {
      padding: 38px 42px 38px 30px;
      width: 826px;
      font-size: 26px;
      line-height: 36px;
      font-weight: 500;
      color: #fff;
      background: #1e1e1e;
      border-radius: 20px;
    }
    .home_sketch_map {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;
      height: 608px;
      background: url('../../../assets/image/sketch_map@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding: 80px 0 86px;
    height: 860px;
    .roadmap_title {
      padding: 0 10px;
      font-size: 60px;
      color: #1e1e1e;
      line-height: 70px;
      text-align: center;
    }
    .roadmap_png {
      display: none;
    }
    .roadmap_timeline {
      position: relative;
      margin: 82px auto 36px;
      width: 100%;
      height: 4px;
      background-color: rgba(13, 13, 13, 0.6);
      border-radius: 2px;
      span {
        position: absolute;
        bottom: -10px;
        left: 200px;
        width: 24px;
        height: 24px;
        border: 4px solid rgba(13, 13, 13, 0.6);
        background-color: #ececec;
        border-radius: 50%;
        &:nth-child(2) {
          left: 50%;
          transform: translateX(-50%);
        }
        &:last-child {
          left: auto;
          right: 200px;
        }
      }
    }
    .roadmap_card {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      .roadmap_card_content {
        padding: 28px;
        width: 360px;
        background: #fff;
        border-radius: 10px;
        h3 {
          font-size: 36px;
          color: #000;
          line-height: 36px;
          font-weight: 700;
          font-family: Jost-Bold;
        }
        h4 {
          font-size: 20px;
          color: #000;
          line-height: 32px;
          font-weight: 700;
          font-family: Jost-Bold;
        }
        .roadmap_card_text {
          margin-top: 16px;
          font-size: 22px;
          line-height: 32px;
          color: #1a1a1a;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .backed_by {
    padding: 122px 0 40px;
    background-color: #000;
    .backed_by_title {
      font-size: 60px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 140px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          display: inline-block;
          width: 262px;
          height: 62px;
          &:hover {
            cursor: pointer;
          }
        }
        .line {
          display: inline-block;
          margin: 0 116px;
          width: 2px;
          height: 70px;
          background-color: #3c3c3c;
        }
        &:nth-child(2) {
          margin-top: 64px;
        }
      }
    }
  }
}

@media (min-width: 747px) and (max-width: 1199px) {
  .content {
    margin: 0 auto;
    min-width: 1200px;
    height: 100%;
  }
  .home_box {
    min-width: 1200px;
    background: url('../../../assets/image/home_bg@2x.png') no-repeat;
    background-size: 1646px 1428px;
    background-color: #ececec;
    background-position: center 298px;
  }
  .home {
    padding-top: 80px;
    position: relative;
    height: 1180px;
    .home_title {
      padding: 0 10px;
      font-size: 60px;
      color: #1e1e1e;
      line-height: 70px;
      text-align: center;
    }
    .home_content {
      padding: 136px 0 100px;
      height: 100%;
    }
    .home_content_text {
      padding: 38px 42px 38px 30px;
      width: 826px;
      font-size: 26px;
      line-height: 36px;
      font-weight: 500;
      color: #fff;
      background: #1e1e1e;
      border-radius: 20px;
    }
    .home_sketch_map {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;
      height: 608px;
      background: url('../../../assets/image/sketch_map@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding: 80px 0 86px;
    height: 860px;
    .roadmap_title {
      padding: 0 10px;
      font-size: 60px;
      color: #1e1e1e;
      line-height: 70px;
      text-align: center;
    }
    .roadmap_png {
      display: none;
    }
    .roadmap_timeline {
      position: relative;
      margin: 82px auto 36px;
      width: 100%;
      height: 4px;
      background-color: rgba(13, 13, 13, 0.6);
      border-radius: 2px;
      span {
        position: absolute;
        bottom: -10px;
        left: 200px;
        width: 24px;
        height: 24px;
        border: 4px solid rgba(13, 13, 13, 0.6);
        background-color: #ececec;
        border-radius: 50%;
        &:nth-child(2) {
          left: 50%;
          transform: translateX(-50%);
        }
        &:last-child {
          left: auto;
          right: 200px;
        }
      }
    }
    .roadmap_card {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      .roadmap_card_content {
        padding: 28px;
        width: 360px;
        background: #fff;
        border-radius: 10px;
        h3 {
          font-size: 36px;
          color: #000;
          line-height: 36px;
          font-weight: 700;
          font-family: Jost-Bold;
        }
        h4 {
          font-size: 20px;
          color: #000;
          line-height: 32px;
          font-weight: 700;
          font-family: Jost-Bold;
        }
        .roadmap_card_text {
          margin-top: 16px;
          font-size: 22px;
          line-height: 32px;
          color: #1a1a1a;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .backed_by {
    padding: 122px 0 40px;
    min-width: 1200px;
    background-color: #000;
    .backed_by_title {
      font-size: 60px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 140px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          display: inline-block;
          width: 262px;
          height: 62px;
          &:hover {
            cursor: pointer;
          }
        }
        .line {
          display: inline-block;
          margin: 0 116px;
          width: 2px;
          height: 70px;
          background-color: #3c3c3c;
        }
        &:nth-child(2) {
          margin-top: 64px;
        }
      }
    }
  }
}

@media (min-width: 359px) and (max-width: 747px) {
  .content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .home_box {
    padding: 28px 15px 54px;
    background: #ececec;
  }
  .home {
    position: relative;
    background: #ececec;
    .home_title {
      padding: 0 18px;
      font-size: 24px;
      color: #1e1e1e;
      line-height: 30px;
      font-family: Jost-Bold;
      text-align: center;
    }
    .home_content {
      // padding: 124px 244px;
      height: 100%;
    }
    .home_content_text {
      margin: 32px auto 36px;
      padding: 14px 22px 16px 16px;
      width: 344px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background: #000;
      border-radius: 10px;
    }
    .home_sketch_map {
      display: block;
      margin: 0 auto;
      width: 328px;
      height: 482px;
      background: url('../../../assets/image/sketch_map_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding-top: 80px;
    .roadmap_title {
      padding: 0 15px;
      font-size: 24px;
      color: #1e1e1e;
      line-height: 30px;
      text-align: center;
    }
    .roadmap_png {
      display: block;
      margin: 16px auto 0;
      width: 345px;
      height: 574px;
      background: url('../../../assets/image/roadmap_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
    .roadmap_timeline {
      display: none;
    }
    .roadmap_card {
      display: none;
    }
  }
  .backed_by {
    padding: 37px 15px 24px;
    background-color: #000;
    .backed_by_title {
      font-size: 24px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 12px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        img {
          display: block;
          margin: 27px auto 0;
          padding: 16px 34px;
          width: 230px;
          height: 70px;
          border: 1px solid #494949;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .home_box {
    padding: 28px 15px 54px;
    background: #ececec;
  }
  .home {
    position: relative;
    background: #000a19;
    .home_title {
      padding: 0 18px;
      font-size: 24px;
      color: #1e1e1e;
      line-height: 30px;
      font-family: Jost-Bold;
      text-align: center;
    }
    .home_content {
      // padding: 124px 244px;
      height: 100%;
    }
    .home_content_text {
      margin: 32px auto 36px;
      padding: 14px 22px 16px 16px;
      width: 344px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background: #000;
      border-radius: 10px;
    }
    .home_sketch_map {
      display: block;
      margin: 0 auto;
      width: 328px;
      height: 482px;
      background: url('../../../assets/image/sketch_map_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .roadmap {
    padding-top: 80px;
    .roadmap_title {
      padding: 0 15px;
      font-size: 24px;
      color: #1e1e1e;
      line-height: 30px;
      text-align: center;
    }
    .roadmap_png {
      display: block;
      margin: 16px auto 0;
      width: 345px;
      height: 574px;
      background: url('../../../assets/image/roadmap_H5@2x.png') no-repeat;
      background-size: 100% 100%;
    }
    .roadmap_timeline {
      display: none;
    }
    .roadmap_card {
      display: none;
    }
  }
  .backed_by {
    padding: 37px 15px 24px;
    background-color: #000;
    .backed_by_title {
      font-size: 24px;
      color: #ffffff;
      text-align: center;
    }
    .backed_by_content {
      padding: 12px 0 0;
      margin: 0 auto;
      .backed_by_content_box {
        img {
          display: block;
          margin: 27px auto 0;
          padding: 16px 34px;
          width: 230px;
          height: 70px;
          border: 1px solid #494949;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
