@media (min-width: 1200px) {
  .wallet-connect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 280px;
    background-color: #f2f0eb;
    border-radius: 5px;
    &_metamask {
      width: 320px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 30px;
      gap: 30px;
      border-radius: 5px 0 0 5px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
      &:first-child {
        border-right: 1px rgba(235, 233, 227, 1) solid;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 14px;
        font-family: HelveticaNeue;
        color: #22292f;
      }
    }
  }
}
@media (min-width: 747px) and (max-width: 1199px) {
  .wallet-connect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 280px;
    background-color: #f2f0eb;
    border-radius: 5px;
    &_metamask {
      width: 320px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 30px;
      gap: 30px;
      border-radius: 5px 0 0 5px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
      &:first-child {
        border-right: 1px rgba(235, 233, 227, 1) solid;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 14px;
        font-family: HelveticaNeue;
        color: #22292f;
      }
    }
  }
}
@media (min-width: 359px) and (max-width: 747px) {
  .wallet-connect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 480px;
    background-color: #f2f0eb;
    border-radius: 5px;
    &_metamask {
      width: 320px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 30px;
      gap: 30px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
      &:first-child {
        border-bottom: 1px rgba(235, 233, 227, 1) solid;
      }
      &:last-child {
        border-radius: 5px;
      }
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 14px;
        font-family: HelveticaNeue;
        color: #22292f;
      }
    }
  }
}
@media (max-width: 359px) {
  .wallet-connect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 480px;
    background-color: #f2f0eb;
    border-radius: 5px;
    &_metamask {
      width: 320px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 30px;
      gap: 30px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
      &:first-child {
        border-bottom: 1px rgba(235, 233, 227, 1) solid;
      }
      &:last-child {
        border-radius: 5px;
      }
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 14px;
        font-family: HelveticaNeue;
        color: #22292f;
      }
    }
  }
}
