.App {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-style: none;
  font-family: Jost-Medium;
}

* {
  margin: 0;
  font-style: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@desktop: '(min-width: 1200px)';
@mdWidth: '(min-width:747px) and (max-width: 1199px)';
@smWidth: '(min-width:359px)and (max-width: 747px)';
@xsWidth: '(max-width: 359px)';
