@media (min-width: 1200px) {
  .connect_wallet_success_popup {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 62px 80px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    background-color: #fff;
    border-radius: 30px;
    .account_png {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 60px;
      background: #000;
      border-radius: 50%;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 20px;
        height: 20px;
        background: #fff;
      }
    }
    p {
      margin: 34px auto 72px;
      font-size: 30px;
      line-height: 52px;
      font-weight: 500;
      color: #000;
      text-align: center;
    }
    &_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      a {
        display: inline-block;
        width: 300px;
        height: 80px;
        line-height: 80px;
        font-size: 36px;
        font-weight: 500;
        color: #010101;
        border: 1px solid #000000;
        border-radius: 20px;
        text-align: center;
        &:last-child {
          color: #404040;
          border: 1px solid #404040;
        }
        &:hover {
          color: #010101;
          border: 1px solid #000000;
        }
      }
      .disable_click {
        color: #acacac !important;
        border: 1px solid #acacac !important;
        &:hover {
          color: #acacac !important;
          border: 1px solid #acacac !important;
        }
      }
    }
  }
}

@media (min-width: 747px) and (max-width: 1199px) {
  .connect_wallet_success_popup {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 62px 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    background-color: #fff;
    border-radius: 30px;
    .account_png {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 60px;
      background: #000;
      border-radius: 50%;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 20px;
        height: 20px;
        background: #fff;
      }
    }
    p {
      margin: 34px auto 72px;
      font-size: 30px;
      line-height: 52px;
      font-weight: 500;
      color: #000;
      text-align: center;
    }
    &_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      a {
        display: inline-block;
        width: 300px;
        height: 80px;
        line-height: 80px;
        font-size: 36px;
        font-weight: 500;
        color: #010101;
        border: 1px solid #000000;
        border-radius: 20px;
        text-align: center;
        &:last-child {
          color: #404040;
          border: 1px solid #404040;
        }
        &:hover {
          color: #010101;
          border: 1px solid #000000;
        }
      }
    }
  }
}

@media (min-width: 359px) and (max-width: 747px) {
  .connect_wallet_success_popup {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 26px 35px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 310px;
    background-color: #fff;
    border-radius: 15px;
    .account_png {
      position: relative;
      display: inline-block;
      width: 36px;
      height: 36px;
      background: #000;
      border-radius: 50%;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 10px;
        height: 10px;
        background: #fff;
      }
    }
    p {
      margin-top: 22px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 700;
      color: #000;
      text-align: center;
      span {
        font-size: 16px;
        color: #010000;
        white-space: nowrap;
      }
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      width: 100%;
      a {
        display: inline-block;
        width: 240px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        font-weight: 500;
        color: #010101;
        border: 1px solid #000000;
        border-radius: 16px;
        text-align: center;
        &:last-child {
          margin-top: 20px;
          color: #404040;
          border: 1px solid #404040;
        }
        &:hover {
          color: #010101;
          border: 1px solid #000000;
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .connect_wallet_success_popup {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 26px 35px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 310px;
    background-color: #fff;
    border-radius: 15px;
    .account_png {
      position: relative;
      display: inline-block;
      width: 36px;
      height: 36px;
      background: #000;
      border-radius: 50%;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 10px;
        height: 10px;
        background: #fff;
      }
    }
    p {
      margin-top: 22px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 700;
      color: #000;
      text-align: center;
      span {
        font-size: 16px;
        color: #010000;
        white-space: nowrap;
      }
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      width: 100%;
      a {
        display: inline-block;
        width: 240px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        font-weight: 500;
        color: #010101;
        border: 1px solid #000000;
        border-radius: 16px;
        text-align: center;
        &:last-child {
          margin-top: 20px;
          color: #404040;
          border: 1px solid #404040;
        }
        &:hover {
          color: #010101;
          border: 1px solid #000000;
        }
      }
    }
  }
}
