@media (min-width: 1200px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    // background-color: #000;
    .header_logo {
      width: 314px;
      height: 46px;
    }
    .header_connect_btn {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 46px;
      line-height: 46px;
      background: #076ae2;
      border-radius: 10px;
    }
    .header_small_logo {
      margin-right: 12px;
      width: 36px;
      height: 36px;
    }
    .connect_text {
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}

@media screen and(min-width: 747px) and (max-width: 1199px) {
}
